NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Checkout Mode Configuration
# Options: disabled, beta, live
NEXT_PUBLIC_CHECKOUT_MODE=disabled
# Passkey required only when in 'beta' mode
NEXT_PUBLIC_CHECKOUT_BETA_PASSKEY=saaral-beta-2026
SUPABASE_SERVICE_ROLE_KEY=