NEXT_PUBLIC_SUPABASE_URL=https://tmcfyzcfcrjzdwnquvhf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRtY2Z5emNmY3JqemR3bnF1dmhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2ODg3NTIsImV4cCI6MjA5NDI2NDc1Mn0.jOOlylmKaw-CKAbzV6tKmK_1tW2yrgmrMnK_eiva7M0
